@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: var(--font-roboto), Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat), Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
