.grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.app {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.image {
    position: relative;
    flex: 5;
    aspect-ratio: 16/9;
    background-color: lightgray;
}

@media screen and (max-width: 768px) {
    .image {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .grid .app:nth-child(even) {
        flex-direction: row-reverse;
    }
}

.text {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
}

.description {
    margin-top: 4rem;
}

.tech-stack {
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
}

.technos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.techno-item {
    display: flex;
    flex-basis: 1;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    text-align: center;
}

.techno-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 0.3rem;
}

.call-to-action {
    margin-top: 4rem;
    text-align: center;
}
