.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    grid-template-columns: auto;
    padding: 4rem 0; 
}

.card {
    display: flex;
    @apply bg-gray-400 border-black ;
    border-radius: 4rem;
    width: min(45%, 500px);
    aspect-ratio: 16 9;
    height: 400px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.image {
    filter: none;
    transition: filter 0.3s ease-in-out;
}

.card:hover .image {
    filter: blur(0.5rem);
}

.description {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: darkblue;
    color: white;
    border-radius: 0 0 6rem 6rem;
    padding: 1rem;
    overflow-y: hidden;
    height: 4rem;
    transition: height 0.15s ease, border-radius 0.15s ease;
}

.card:hover .description {
    height: 75%;
    border-radius: 0 0 100% 100%;
}

.call-to-action {
    position:absolute;
    top: 75%;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .call-to-action {
    opacity: 0.75;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.infos {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.technos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.techno-item {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    text-align: center;
}

.techno-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 0.3rem;
}