.polygon {
    height: 460px;
    clip-path: polygon(0 0, 100% 0, 100% 430px, 80% 460px, 40% 400px, 0% 460px);
}

.presentation {
    @apply polygon w-screen flex flex-col justify-center relative;
    background-image: linear-gradient(150deg, black 70%, red);
}

.star {
    width: 20px;
    height: 20px;
    background-color: gold;
    clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 38% 38%);
    display: inline-block;
    position: absolute;
}

.presentation > .star:nth-of-type(1) {
    top: 12%;
    left: 10%;
}

.presentation > .star:nth-of-type(2) {
    top: 60%;
    left: 55%;
}

.presentation > .star:nth-of-type(3) {
    top: 47%;
    left: 88%;
}